extends base

block content 
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Forgot Password
      form.form.form--emailSubmit
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='your mail id', required)
        .form__group
          button.btn.btn--green Ok