extends base

block content 
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset Password
      form.form.form--passwordSubmit
        .form__group
          label.form__label(for='password')  New password
          input#password.form__input(type='password', placeholder='********', required)
        .form__group
          label.form__label(for='passwordConfirm')  Confirm password
          input#passwordConfirm.form__input(type='password', placeholder='********', required)
          input#token(type="hidden", name="token", value=`${token}`)
        .form__group
          button.btn.btn--green Ok